// Specific CSS for your home-page
body {
  background-color: rgb(248,237,226);
  margin-top: 0 !important;
}

.image {
  width: 100% !important;
  height: 60%;

}

.index {
  width: 100%;
  font-size: 23px;
}

.meals {
  width: 100%;
}

.image-food {
  width: 102%;
}

.fa-instagram {
  font-size: 50px;
}
