
<% @meals.each do | meal | %>
  <div class="card">
    <h4><%= meal.name %></h4>
    <p><%= meal.description %></p>
    <p><%= number_to_currency(meal.price, unit: "R$", separator: ",", delimiter: ".") %></p>
  </div>
<% end %>
